* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

* a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header .action_navigation {
  display:grid;
  width: 100%;
  padding: 0px;
  grid-template-columns: 1fr auto 1fr;
  height: 60px;
  background-color: black;
}

.header .action_navigation .action_options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .action_navigation .action_options  .switch_action_container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #232323;
}

.header .action_navigation .action_options .switch_action_container .action_container{
  padding-inline: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.header .action_navigation .action_options .switch_action_container .action_container:hover {
  background-color: #5a5a5a;
}

.header .action_navigation .right_options{
  justify-self:end;
  display: flex;
  align-items: center;
  fill: white;
}

.header .action_navigation .right_options .svg_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.header .action_navigation .right_options .svg_container:hover {
  background-color: #5a5a5a;
}