* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

* a {
  text-decoration: none;
}

.header {
  display: flex;
  min-height: 74px;
}

.header_container {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.aCoin_logo_pic {
  max-width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aCoin_logo_pic img {
  max-width: 100%;
  height: auto;
  display: block;
}

.aCoin_action_container {
  display: flex;
  justify-self: end;
  gap: 16px;
  align-items: center;
}

.login_button {
  display: flex;
}

.login_button a {
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  overflow: hidden;
  font-size: 16px;
  font-weight:500;
}

.login_button a:hover {
  background-color: #f2f2f2;
}

.get_aCoin_button {
  display: flex;
}

.get_aCoin_button a {
  display: flex;
  padding: 8px 15px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #0075de;
}

.get_aCoin_button a:hover {
  background-color: #097fe8;
}

.global_navigation {
  display: flex;
  gap: 14px;
  align-items: center;
}

.aCoin_navigation {
  display: flex;
}

.aCoin_navigation button {
  background: none;
  border: none;
  font: inherit;

  padding: 5px 10px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size:16px;
  font-weight: 500;
}

.aCoin_navigation button:hover {
  background-color: #f2f2f2;
}

.aCoin_navigation button .chevron_container {
  display: flex;
}

.chevron {
  width: 16px;
  height: 16px;
}

.pricing_navigation {
  display: flex;
}

.pricing_navigation a {
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  font-size:16px;
  font-weight: 500;
}

.pricing_navigation a:hover {
  background-color: #f2f2f2;
}

.pricing_navigation span {
  margin: 0;
}

.ai_navigation {
  display: flex;
}

.ai_navigation a{
  display:flex;
  align-items:center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 4px;
  font-size:16px;
  font-weight: 500;
  color:black;
  
}

.ai_navigation a:hover {
  background-color: #f2f2f2;
}