* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

* a {
  text-decoration: none;
}

.body_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
}

header .header_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header_container nav {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-inline: 20px;
}

.aCoin_logo_pic {
  max-width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 8px;
}

.aCoin_logo_pic img {
  max-width: 100%;
  height: auto;
  display: block;
}

header .header_container nav .seperator_container {
  display: flex;
  width: 8px;
  height: 20px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

header .header_container nav .seperator_container .seperator {
  height: 100%;
  width: 1px;
  border-inline-end: 1px solid #e6e5e3;
}

.language_container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  height: 28px;
  color: #8e8b86;
  padding-inline: 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  flex-shrink: 0;
}

.language_container:hover {
  background-color: #f2f2f2;
}

.global_svg {
  width: 20px;
  height: 20px;
  display: block;
}

.global_svg {
  fill: currentColor;
}

.chevron_container {
  display: flex;
}

.chevron {
  width: 16px;
  height: 16px;
}

.language_container .language {
  display: flex;
}

.padding_block {
  height: 80px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.main_container {
  display: flex;
  line-height: 1.5;
  font-size: 17px;
  flex-grow: 1;
}

.main_container .style_container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.main_container .style_container .section_container {
  padding-inline: 60px;
  width: 100%;
  margin: 0px auto;
}

.main_container .style_container .section_container .content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container
  .style_container
  .section_container
  .content_container
  .content_padding {
  min-height: 10vh;
  flex: 1 1 0%;
}

.main_container
  .style_container
  .section_container
  .content_container
  .content_wrapper {
  display: flex;
  flex-direction: column;
}

.heading_container {
  font-weight: 700;
  margin-bottom: 23px;
  line-height: 1.1;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 320px;
}

.heading h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
}

.heading h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin: 0px;
  color: #a19e99;
}
