* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
    color:white;
}

* a {
  text-decoration: none;
}

.aCoin-app{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.sidebar_container{
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    pointer-events: none;
    background-color: rgb(32, 32, 32);
    box-shadow: inset calc(1*-1px) 0px 0px 0px #2a2a2a;
    width: 240px;
}

.sidebar_container .aCoin_sidebar{
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
}